* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navToggle {
    top: 60px;
    background-color: #26291A;
    border: 1px solid #B7D437;
    z-index: 2;
    /* opacity: 0.8; */
}

#navToggle a {
    color: #f2f2f2;
}

#navToggle a:hover {
    color: #B7D437;
}