* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

section>img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

section>div {
    margin: 2rem 4rem;
}

h3 {
    font-size: 32px;
}