.post-card {
    max-width: 600px;
    margin: 0 1rem;
}

.post-card .date {
    color: #aaaaaa;
    margin: 0;
    font-size: 0.875rem;
}

.post-card h3 {
    margin-top: 0;
    margin-bottom: 0.6rem;
}

.post-copy {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 1.6rem;
}