.post-card {
    max-width: 600px;
    margin: 0 1rem 1rem 1rem;
}

.post-card .date {
    color: #aaaaaa;
    margin: 0;
    font-size: 0.875rem;
}

.post-card h3 {
    margin-top: 0;
}

.post-copy {
    margin-bottom: 0.5rem;
}

.post-copy.less {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.post-card span {
    font-weight: 500;
    cursor: pointer;
    font-size: 0.875rem;
}

.post-card span:hover {
    color: #B7D437;
}