* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myLogo {
    font-family: 'Roboto Slab', serif;
    color: #f2f2f2;
}

.myLogo:hover {
    color: #B7D437;
}

.logoMark {
    width: 40px;
}

.navLink li a {
    color: #f2f2f2;
}

.navLink li a:hover {
    color: #B7D437;
}

.navLink li a:focus {
    color: #B7D437;
}